[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/era-system-contracts"]
	path = lib/era-system-contracts
	url = https://github.com/matter-labs/era-system-contracts
